<div class="container-fluid">
    <div class="row" id="tarefas">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <h3 id="espaco">Busca</h3>
            <div class="active-cyan-3 active-cyan-4 mb-4">
                <input class="form-control" type="text" placeholder="Buscar" aria-label="Search">
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <iframe src="https://giphy.com/embed/BHNfhgU63qrks" width="1340" height="300" frameBorder="0"
                class="giphy-embed" allowFullScreen></iframe>
        </div>
    </div>
</div>