<div class="container-fluid">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <h3>Lista de Tarefas</h3>
            <input type="number" placeholder="Ex: 10" [(ngModel)]="id" id="buscador">
            <input type="button" (click)="procuraClick()" value="Buscar">
            <div class="card text-white bg-info mb-3" id="card" style="max-width: 18rem;">
                <div class="card-header text-center">
                    <h4>User Id: {{user.userId}}</h4>
                </div>
                <div class="card-body">
                    <h5 class="card-title"><b>Id:</b> {{user.id}}</h5>
                    <div class="card-text">
                        <p><b>Title:</b> {{user.title}}</p>
                        <p><b>Completed:</b> {{user.completed}}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4"></div>
    </div>
</div>