<div class="container-fluid">
    <div class="row" id="corp">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Impedit vero eius rem, optio aspernatur
                perferendis
                molestiae ipsum, qui ad dolor numquam! Sequi eaque pariatur exercitationem dolorum alias a labore quam?
            </p>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolorum tenetur, assumenda hic dolorem aperiam
                cupiditate quasi nulla quo nesciunt adipisci voluptatem alias debitis blanditiis id facilis. Maxime
                voluptates ducimus aspernatur!</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit ab dicta ratione ipsam quidem! Accusantium
                asperiores quae quibusdam? Temporibus ex labore beatae asperiores dolores! Quaerat delectus tempora
                nesciunt
                quae mollitia.</p>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>