<div class="container-fluid">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand" href="#">IGY</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" [routerLink]="'home'">Início</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" [routerLink]="'listafull'">Lista Completa</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" [routerLink]="'listaid'">Lista por Id</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
        <div class="col-md-1"></div>
    </div>
</div>